@import url("style.css");

.photographer_section {
    gap: 70px;
    margin-top: 50px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 0 30%;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px #acadb6;
    object-fit: cover;
}

/** Main **/
.photographer_section {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.photographer_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.photographer_name {
    color: var(--primary-text);
    /* font-size: 36px; */
    font-size: 4vh;
    font-weight: 400;
    margin: 0 auto;
}
.photographer_city {
    color: var(--primary);
    /* font-size: 22px; */
    font-size: 3vh;
}
.photographer_tagline {
    /* font-size: 14px; */
    font-size: 2vh;
    margin-top: 0;
}
.photographer_price {
    color: #757575;
    /* font-size: 12px; */
    font-size: 1.5vh;
}

@media screen and (max-width: 992px) {
    .photographer_section {
        margin-top: 32px;
        flex-direction: column;
    }
    .photographer_section article img {
        height: 20vh;
        width: 20vh;
    }
    .photographer {
        flex: 1 0 100%;
    }
}
