/** Variables **/
:root {
    --primary: #901c1c;
    --primary-text: #d3573c;
    --secondary: #db8876;
    --secondary-gray-text: #525252;
    --secondary-gray-bg: #fafafa;
    --secondary-text: #901c1c;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
h1 {
    color: #901C1C;
    margin-right: 100px;
}
.logo {
    height: 50px;
    margin-left: 100px;
}
